@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section {
    @apply px-5 md:px-16 lg:px-24 py-10 lg:py-16;
  }
  .sub-section {
    @apply p-3 md:p-5;
  }
  .all {
    @apply transition-all duration-300 ease-in-out;
  }
}

/* for loader */
.loader {
  border-top-color: #3498db;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.apexcharts-menu {
  background-color: #27293d !important;
}
.apexcharts-menu-item:hover {
  background-color: rgba(117, 239, 255, 50) !important;
  color: rgb(16 28 49) !important;
}
